/*Begin your code here*/
/*Requirement 1*/
body{
  margin: 0;
  padding: 0;
  font-size: 16pt; 
}

/*Requirement 2*/
header{
  background: #fff;
  border-bottom: 3px solid #50C7C7;
  /*Your  code here again.*/

}

/*Requirement 3*/
.nav_links{
  /*Your code here again.*/
}


/*Requirement 4*/
.price{
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
    flex-wrap: wrap; 
    
    /*Your code here*/
    /*You must use flex.
    /*Don't forget to vertically and horizontally 
    align the element*/
}

/*Requirement 5*/
.package {
  margin: 12px;
  background: #fff;
  border-radius: 7px;
  padding: 0 0 50px 0;
  flex-basis: 400px; 
  /*Your code here.*/
  /*Take a look at flex-basis*/

}

/*Requirement 6*/
 
.package>header {
  background: #288080;
  border: 2px solid #45ADAD;
  padding: 20px 0;
  border-radius: 7px 7px 0 0;
}*/


/*Requirement 7*/
.gallery{
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  min-height: 600px;
  /*Your code here again.*/

}

/*Requirement 8*/
 
.gallery > img{
  border: 10px #50C7C7 solid;
  margin: 10px;
  width: 300px;
}
*/

/*Requirement 9*/
#logo{
    animation-name:logo_grow;
   @-webkit-animation:logo_grow;
    animation-duration: 15s;
    animation-iteration-count: 1; 
   /*Your code here.*/
   @-webkit-animation-duration:15s;
   @-webkit-animation-iteration-count: 1; 
 
}

/*Keyframes for animation*/
@-webkit-keyframes logo_grow{
  /*Your code here.*/
    from{width:25px; opacity: 0;}
    to {width:430px;opacity: 1;}

}

@keyframes logo_grow{
  /*Your code here.*/
    from{width:25px; opacity: 0;}
    to {width:430px;opacity: 1;}
    
} 

@media screen and (min-width: 850px){

  /*Requirement 10*/
  header{
      align-items: left;
      flex-direction: row;
      justify-items: space-between; 
    /*Your code here again.*/  
  }

  /*Requirement 10*/
  .nav_links{
     
      flex-direction: row;
   
      
    /*Your code here again.*/  
  }

  /*Requirement 11*/
  .package {
    flex-basis: 230px; 
  } 
}

/*Requirement 12*/
/*Add media query to handle reduced-motion*/
/*Your code here again.*/ 



@media print { 

  /*Requirement 13*/
  /*Requirement 14*/
  /*Requirement 15*/
  /*Requirement 16*/
  /*Requirement 17*/
  /*Requirement 18*/
 
}

