/*Begin your code here*/
/*Requirement 1*/
body{
  margin: 0;
  padding: 0;
  font-size: 16pt; 
  font-family: "Raleway", sans-serif; 
  background-image:url(/images/concrete_seamless.png)
}

/*Requirement 2*/
header{
  background: #fff;
  border-bottom: 3px solid #50C7C7;
  /*Your  code here again.*/
  display: flex;
  flex-direction:column;  
  align-items: center; 

}

/*Requirement 3*/
.nav_links{
  /*Your code here again.*/
  display: flex;
  flex-direction:column; 
  align-items:center; 

}


/*Requirement 4*/
.price{
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap; 
    
    /*Your code here*/
    /*You must use flex.
    /*Don't forget to vertically and horizontally 
    align the element*/
}

/*Requirement 5*/
.package {
  margin: 12px;
  background: #fff;
  border-radius: 7px;
  padding: 0 0 50px 0;
  flex-basis: 400px; 
  /*Your code here.*/
  /*Take a look at flex-basis*/

}

/*Requirement 6*/
 
.package>header {
  background: #288080;
  border: 2px solid #45ADAD;
  padding: 20px 0;
  border-radius: 7px 7px 0 0;
} 


/*Requirement 7*/
.gallery{
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
  /*Your code here again.*/

}

/*Requirement 8*/
 
.gallery>img{
  border: 10px #50C7C7 solid;
  margin: 10px;
  width: 300px;
}


/*Requirement 9*/
#logo{
    animation-name:move_logo; 
    animation-duration: 15s;
    animation-iteration-count:1; 
}



@keyframes move_logo{
    from{width: 25px; opacity: 0;}
    to {width: 430px; opacity: 1;}
    
}

@media screen and (min-width: 850px){

  /*Requirement 10*/
  header{
  /*Your  code here again.*/
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction:row;  
  align-items: center; 
  width:100%; 
  
 
    /*Your code here again.*/  
  }

  /*Requirement 10*/
  .nav_links{
  display: flex;
  flex-wrap: nowrap;
  flex-direction:row;
  justify-content: flex-end;
  align-items: center; 
  width:auto;
    }
   
      
    /*Your code here again.*/  
  }

  /*Requirement 11*/
  .package {
    flex-basis: 230px; 
  } 
}

/*Requirement 12*/
@media (prefers-reduced-motion){
    .movelogo{
        animation-name: movelogo; 
    }
    }

/*Your code here again.*/ 



@media print { 

  /*Requirement 13*/
    background:disabled; 
  /*Requirement 14*/
    .nav_links
  /*Requirement 15*/
    .nav_links{
        width: 100%;
    }
  /*Requirement 16*/
    .price{
    align-content: flex-end;
    }
  /*Requirement 17*/
    .package{
     border:2px solid #45ADAD;
     flex-basis: 200px;    
    }
  /*Requirement 18*/
    .gallery{
        display: none; 
    }
 
}

